.container {
  position: fixed;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  color: transparent;
  -webkit-text-stroke: 1px rgb(13, 73, 48);
  font-weight: 900;
  font-size: 2em;
  font-family: fantasy;
  letter-spacing: 2px;
  /* background-color: #000000; */
}
@keyframes heading {
  0% {
    /* box-shadow: 10px 0 20px 0 #f90716, 0 10px 20px 5px #5800ff; */
    text-shadow: 0 5px 20px #9adcff, 0 -5px 20px #e7fbbe;
  }
  25% {
    /* box-shadow: 0 10px 20px 0 #93ffd8, 0 -10px 20px 5px #548cff; */
    text-shadow: -5px 0 20px #b983ff, 5px 0 20px #d4ecdd;
  }
  50% {
    /* box-shadow: 0 0 20px 5px #ffc600, 0 0 20px 5px #49ff00; */
    text-shadow: 0 5px 20px #42c2ff, 0 -5px 20px #ff5677;
  }
  75% {
    /* box-shadow: 0 -10px 20px 0 #ff5da2, 0 10px 20px 5px #77d970; */

    text-shadow: -5px 0 20px #ebe645, 5px 0 20px #17d7a0;
  }
  100% {
    /* box-shadow: 10px 0 20px 0 #f90716, 0 10px 20px 5px #5800ff; */
    text-shadow: 0 5px 20px #9adcff, 0 -5px 20px #fffdde;
  }
}
.container h1 {
  border: 10px solid #f77;
  padding: 20px 80px;
  border-radius: 90px 2px 0 90px;
  animation: heading 5s infinite;
  position: relative;
}

.container h1 button {
  position: absolute;
  top: -60px;
  right: -100px;
  background-color: #9adcff;
  padding: 20px 40px;
  color: #789395;
  border-radius: 10px;
  border: 10px solid #fff89a;
  cursor: pointer;
  font-size: 30px;
  border-style: inherit;
  transition: 0.3s ease-in-out;
}
.container h1 button:hover {
  border: 10px solid #e7fbbe;
  background-color: #fffdde;
  /* border-style: dotted; */
}

.container h1.signedOut {
  animation: none;
  /* border: 10px solid #fff89a; */
  border-color: silver;
  -webkit-text-stroke: 1px silver;
}
